.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0 40px 0;

    .project-heading{
        flex: 0 0 100%;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    .card{
        width: 200px;
        padding: 10px;
        margin: 10px;
        border: 1px solid lightsalmon;
      }
      h2{
        margin-bottom: 10px;
      }
      h3, h4{
        padding: 10px 0;
      }
      h2{
        text-align: center;
      }
      img{
        width: 180px;
        height: 100px;
      }
  }
  